{% extends "base.html.j2"%}
{% block title%}
Pokemon Search
{% endblock %}

{% block content %}
    <h1>Pokemon Search</h1>


<form action="/poki_find" method="POST">
    {{ form.hidden_tag() }}

    {{ form.psearch.label(class="form-label") }}
    {{ form.psearch(class="form-control") }}
    {{ form.submit(class="btn btn-primary") }}
</form>
    {% if error %}
        <small style="color:grey;">{{error}}</small>
    {% else %}
        <small style="color:grey;">Search Results Here</small>
    {% endif %}
    {% if pmon %}
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Pokemon</th>
                    <th scope="col">Base HP</th>
                    <th scope="col">Base Attack</th>
                    <th scope="col">Base Defence</th>
                    <th scope="col">Image of Pokemon</th>
                </tr>
            </thead>
            
            <tbody>
                {% for i in pmon %}
                <tr>
                    <th scope="row">{{pmon['Pokemon_name']}}</th>
                    <td>{{pmon['Base_HP']}}</td>
                    <td>{{pmon['Base_Attack']}}</td>
                    <td>{{pmon['Base_Defence']}}</td>
                    <td ><img src="{{pmon['Image_of_Pokemon']}}"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    {% endif %}

{% endblock %}
